MONGODB_URI=mongodb+srv://astikanworld_db_user:7vcRYElpKxYCxBks@astikanuser.xv5nar1.mongodb.net/?appName=astikanuser
MONGODB_DB_NAME=astikan
MONGODB_TLS_ALLOW_INVALID_CERTS=false
JWT_SECRET=
SUPERADMIN_EMAIL=admin@astikan.ai
SUPERADMIN_PASSWORD=ChangeMe123!
DEFAULT_SEO_EMAIL=seo@astikan.ai
DEFAULT_SEO_PASSWORD=Seo12345!
SITE_URL=http://localhost:3000
PORT=4000
